body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../退调拨-门店-新建_修改_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:240px;
    height:320px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:326px;
}

.u1 {
    position:absolute;
    left:2px;
    top:152px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:10px;
    top:10px;
    width:240px;
    height:320px
}

.u2_original {
    background-image: url('../退调拨-门店-新建_修改_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:136px;
    width:240px;
    height:2px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:240px;
    height:2px;
}

.u3 {
    position:absolute;
    left:2px;
    top:-7px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:10px;
    top:136px;
    width:240px;
    height:2px
}

.u4_original {
    background-image: url('../退调拨-门店-新建_修改_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:12px;
    top:307px;
    width:78px;
    height:21px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:27px;
}

.u5 {
    position:absolute;
    left:2px;
    top:4px;
    width:74px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:12px;
    top:307px;
    width:78px;
    height:21px
}

.u6_original {
    background-image: url('../退调拨-门店-新建_修改_files/u6_original.png');
}

.u6_container {
    position:absolute;
    left:40px;
    top:281px;
    width:61px;
    height:21px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:67px;
    height:27px;
}

.u7 {
    position:absolute;
    left:2px;
    top:4px;
    width:57px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:40px;
    top:281px;
    width:61px;
    height:21px
}

.u8_original {
    background-image: url('../退调拨-门店-新建_修改_files/u6_original.png');
}

.u8_container {
    position:absolute;
    left:161px;
    top:281px;
    width:61px;
    height:21px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:67px;
    height:27px;
}

.u9 {
    position:absolute;
    left:2px;
    top:4px;
    width:57px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:161px;
    top:281px;
    width:61px;
    height:21px
}

.u10 {
    position:absolute;
    left:111px;
    top:284px;
    width:40px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_original {
    background-image: url('../退调拨-门店-新建_修改_files/u11_original.png');
}

.u11_container {
    position:absolute;
    left:10px;
    top:304px;
    width:240px;
    height:2px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:240px;
    height:2px;
}

.u12 {
    position:absolute;
    left:2px;
    top:-7px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:10px;
    top:304px;
    width:240px;
    height:2px
}

#u14 {
    position:absolute;
    left:0px;
    top:0px;
    width:245px;
    height:50px
}

.u14_table {
    background-image: url('../退调拨-门店-新建_修改_files/u14_table.png');
}

.u14_table {
    position:absolute;
    left:-3px;
    top:-3px;
    width:249px;
    height:54px;
}

.u15_original {
    background-image: url('../退调拨-门店-新建_修改_files/u15_original.png');
}

.u15_container {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:25px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:46px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:25px
}

.u17_original {
    background-image: url('../退调拨-门店-新建_修改_files/u17_original.png');
}

.u17_container {
    position:absolute;
    left:50px;
    top:0px;
    width:94px;
    height:25px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:90px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:50px;
    top:0px;
    width:94px;
    height:25px
}

.u19_original {
    background-image: url('../退调拨-门店-新建_修改_files/u19_original.png');
}

.u19_container {
    position:absolute;
    left:144px;
    top:0px;
    width:80px;
    height:25px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:76px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:144px;
    top:0px;
    width:80px;
    height:25px
}

.u21_original {
    background-image: url('../退调拨-门店-新建_修改_files/u21_original.png');
}

.u21_container {
    position:absolute;
    left:224px;
    top:0px;
    width:16px;
    height:25px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:224px;
    top:0px;
    width:16px;
    height:25px
}

.u23_original {
    background-image: url('../退调拨-门店-新建_修改_files/u23_original.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:25px;
    width:50px;
    height:20px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:46px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:0px;
    top:25px;
    width:50px;
    height:20px
}

.u25_original {
    background-image: url('../退调拨-门店-新建_修改_files/u25_original.png');
}

.u25_container {
    position:absolute;
    left:50px;
    top:25px;
    width:94px;
    height:20px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:90px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:50px;
    top:25px;
    width:94px;
    height:20px
}

.u27_original {
    background-image: url('../退调拨-门店-新建_修改_files/u27_original.png');
}

.u27_container {
    position:absolute;
    left:144px;
    top:25px;
    width:80px;
    height:20px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:76px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:144px;
    top:25px;
    width:80px;
    height:20px
}

.u29_original {
    background-image: url('../退调拨-门店-新建_修改_files/u29_original.png');
}

.u29_container {
    position:absolute;
    left:224px;
    top:25px;
    width:16px;
    height:20px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:224px;
    top:25px;
    width:16px;
    height:20px
}

.u31 {
    position:absolute;
    left:20px;
    top:21px;
    width:40px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:55px;
    top:16px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u33 {
    position:absolute;
    left:24px;
    top:78px;
    width:36px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:55px;
    top:73px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u35 {
    position:absolute;
    left:134px;
    top:49px;
    width:36px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:170px;
    top:44px;
    width:70px;
    height:25px;
    ;
    background-color:#EDEDED;;
    text-align: left;;
    font-family:'宋体';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u37 {
    position:absolute;
    left:19px;
    top:42px;
    width:41px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:55px;
    top:44px;
    width:70px;
    height:25px;
    ;
    background-color:#EDEDED;;
    text-align: left;;
    font-family:'宋体';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u41 {
    position:absolute;
    left:16px;
    top:0px;
    width:-3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:16px;
    top:0px;
    width:-3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_original {
    background-image: url('../退调拨-门店-新建_修改_files/u6_original.png');
}

.u45_container {
    position:absolute;
    left:99px;
    top:107px;
    width:61px;
    height:21px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:67px;
    height:27px;
}

.u46 {
    position:absolute;
    left:2px;
    top:4px;
    width:57px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:99px;
    top:107px;
    width:61px;
    height:21px
}

.u47_original {
    background-image: url('../退调拨-门店-新建_修改_files/u6_original.png');
}

.u47_container {
    position:absolute;
    left:179px;
    top:107px;
    width:61px;
    height:21px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:67px;
    height:27px;
}

.u48 {
    position:absolute;
    left:2px;
    top:4px;
    width:57px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:179px;
    top:107px;
    width:61px;
    height:21px
}

.u49 {
    position:absolute;
    left:134px;
    top:77px;
    width:36px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:170px;
    top:72px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u51 {
    position:absolute;
    left:126px;
    top:21px;
    width:54px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:170px;
    top:16px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u53_original {
    background-image: url('../退调拨-门店-新建_修改_files/u53_original.png');
}

.u53_container {
    position:absolute;
    left:370px;
    top:190px;
    width:180px;
    height:120px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:126px;
}

.u54 {
    position:absolute;
    left:2px;
    top:52px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:370px;
    top:190px;
    width:180px;
    height:120px
}

.u55_original {
    background-image: url('../退调拨-门店-新建_修改_files/u6_original.png');
}

.u55_container {
    position:absolute;
    left:470px;
    top:270px;
    width:61px;
    height:21px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:67px;
    height:27px;
}

.u56 {
    position:absolute;
    left:2px;
    top:4px;
    width:57px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:470px;
    top:270px;
    width:61px;
    height:21px
}

.u57 {
    position:absolute;
    left:370px;
    top:162px;
    width:60px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:435px;
    top:206px;
    width:110px;
    height:25px;
    ;
    background-color:#EDEDED;;
    text-align: left;;
    font-family:'宋体';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u59_original {
    background-image: url('../退调拨-门店-新建_修改_files/u59_original.png');
}

.u59_container {
    position:absolute;
    left:374px;
    top:194px;
    width:60px;
    height:60px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

.u60 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:374px;
    top:194px;
    width:60px;
    height:60px
}

.u61_original {
    background-image: url('../退调拨-门店-新建_修改_files/u6_original.png');
}

.u61_container {
    position:absolute;
    left:390px;
    top:270px;
    width:61px;
    height:21px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:67px;
    height:27px;
}

.u62 {
    position:absolute;
    left:2px;
    top:4px;
    width:57px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:390px;
    top:270px;
    width:61px;
    height:21px
}

.u63_original {
    background-image: url('../退调拨-门店-新建_修改_files/u6_original.png');
}

.u63_container {
    position:absolute;
    left:20px;
    top:107px;
    width:61px;
    height:21px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:67px;
    height:27px;
}

.u64 {
    position:absolute;
    left:2px;
    top:4px;
    width:57px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:20px;
    top:107px;
    width:61px;
    height:21px
}

.u65_original {
    background-image: url('../退调拨-门店-新建_修改_files/u4_original.png');
}

.u65_container {
    position:absolute;
    left:170px;
    top:307px;
    width:78px;
    height:21px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:27px;
}

.u66 {
    position:absolute;
    left:2px;
    top:4px;
    width:74px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:170px;
    top:307px;
    width:78px;
    height:21px
}

