<config>
  <server>
    <ver>500</ver>
    <user>S1777</user>
    <login>
    </login>
    <date>20130408</date>
    <ipserver>10.130.254.18</ipserver>
    <iphttp>10.130.254.18</iphttp>
    <ip129>10.130.254.18</ip129>
    <ip1>172.16.130.26</ip1>
    <ip2>10.130.2.161</ip2>
    <ip3>10.130.3.161</ip3>
    <ip4>10.130.4.169</ip4>
    <ip5>10.130.5.169</ip5>
    <ip6>10.130.6.161</ip6>
    <ip7>10.130.7.170</ip7>
    <ip8>10.130.8.161</ip8>
    <ip9>10.130.9.161</ip9>
    <ip11>10.130.11.163</ip11>
    <ip12>10.130.12.161</ip12>
    <ip13>10.130.13.161</ip13>
    <ip14>10.130.14.163</ip14>
    <ip15>10.130.15.161</ip15>
    <ip16>10.130.16.160</ip16>
    <ip17>10.130.17.161</ip17>
    <ip19>10.130.19.161</ip19>
    <ip18>10.130.18.161</ip18>
    <ip20>10.130.20.161</ip20>
    <ip21>10.130.21.161</ip21>
    <ip22>10.130.22.161</ip22>
    <ip23>10.130.23.161</ip23>
    <ip25>10.130.25.161</ip25>
    <ip26>10.130.3.161</ip26>
    <ip27>10.130.27.161</ip27>
    <ip30>10.130.30.161</ip30>
    <ip37>10.130.37.161</ip37>
    <ip39>10.130.39.161</ip39>
    <port>1979</port>
    <dir>download</dir>
    <app0>HolaCore.dll</app0>
    <app1>Hola_In.exe</app1>
    <app2>Hola_Out.exe</app2>
    <app3>Hola_Excel.exe</app3>
    <app4>Hola_Inventory.exe</app4>
    <app5>Hola_Business.exe</app5>
    <timeout>10</timeout>
  </server>

  <api>
    <sn>001</sn>
    <op>01</op>
    <file>00101.xml</file>
  </api>
  <api>
    <sn>002</sn>
    <op>01</op>
    <file>00201.xml</file>
  </api>
  <api>
    <sn>003</sn>
    <op>01</op>
    <file>00301.xml</file>
  </api>
  <api>
    <sn>004</sn>
    <op>01</op>
    <file>00401.xml</file>
  </api>
  <api>
    <sn>005</sn>
    <op>01</op>
    <file>00501.xml</file>
  </api>
  <api>
    <sn>101</sn>
    <op>01</op>
    <file>10101.xml</file>
  </api>
  <api>
    <sn>101</sn>
    <op>02</op>
    <file>10102.xml</file>
  </api>
  <api>
    <sn>101</sn>
    <op>03</op>
    <file>10103.xml</file>
  </api>
  <api>
    <sn>102</sn>
    <op>01</op>
    <file>10201.xml</file>
  </api>
  <api>
    <sn>103</sn>
    <op>01</op>
    <file>10301.xml</file>
  </api>
  <api>
    <sn>103</sn>
    <op>02</op>
    <file>10302.xml</file>
  </api>
  <api>
    <sn>104</sn>
    <op>01</op>
    <file>10401.xml</file>
  </api>
  <api>
    <sn>104</sn>
    <op>02</op>
    <file>10402.xml</file>
  </api>
  <api>
    <sn>105</sn>
    <op>01</op>
    <file>10501.xml</file>
  </api>
  <api>
    <sn>106</sn>
    <op>01</op>
    <file>10601.xml</file>
  </api>
  <api>
    <sn>107</sn>
    <op>01</op>
    <file>10701.xml</file>
  </api>
  <api>
    <sn>201</sn>
    <op>01</op>
    <file>20101.xml</file>
  </api>
  <api>
    <sn>202</sn>
    <op>01</op>
    <file>20201.xml</file>
  </api>
  <api>
    <sn>203</sn>
    <op>01</op>
    <file>20301.xml</file>
  </api>
  <api>
    <sn>204</sn>
    <op>01</op>
    <file>20401.xml</file>
  </api>
  <api>
    <sn>205</sn>
    <op>01</op>
    <file>20501.xml</file>
  </api>
  <api>
    <sn>500</sn>
    <op>01</op>
    <file>50001.xml</file>
  </api>
  <api>
    <sn>500</sn>
    <op>02</op>
    <file>50002.xml</file>
  </api>
  <api>
    <sn>500</sn>
    <op>03</op>
    <file>50003.xml</file>
  </api>
  <api>
    <sn>501</sn>
    <op>01</op>
    <file>50101.xml</file>
  </api>
  <api>
    <sn>600</sn>
    <op>01</op>
    <file>60001.xml</file>
  </api>
  <api>
    <sn>600</sn>
    <op>02</op>
    <file>60002.xml</file>
  </api>
  <api>
    <sn>600</sn>
    <op>03</op>
    <file>60003.xml</file>
  </api>
  <api>
    <sn>601</sn>
    <op>01</op>
    <file>60101.xml</file>
  </api>
  <api>
    <sn>601</sn>
    <op>02</op>
    <file>60102.xml</file>
  </api>
  <api>
    <sn>602</sn>
    <op>01</op>
    <file>60201.xml</file>
  </api>
  <api>
    <sn>700</sn>
    <op>01</op>
    <file>70001.xml</file>
  </api>
  <api>
    <sn>700</sn>
    <op>02</op>
    <file>70002.xml</file>
  </api>
  <api>
    <sn>701</sn>
    <op>01</op>
    <file>70101.xml</file>
  </api>
  <api>
    <sn>701</sn>
    <op>02</op>
    <file>70102.xml</file>
  </api>
  <api>
    <sn>800</sn>
    <op>01</op>
    <file>80001.xml</file>
  </api>
  <api>
    <sn>1011</sn>
    <op>01</op>
    <file>101101.xml</file>
  </api>
  <api>
    <sn>1011</sn>
    <op>02</op>
    <file>101102.xml</file>
  </api>
  <api>
    <sn>1012</sn>
    <op>01</op>
    <file>101201.xml</file>
  </api>
  <api>
    <sn>1013</sn>
    <op>01</op>
    <file>101301.xml</file>
  </api>
  <api>
    <sn>1021</sn>
    <op>01</op>
    <file>102101.xml</file>
  </api>
  <api>
    <sn>1022</sn>
    <op>01</op>
    <file>102201.xml</file>
  </api>
  <api>
    <sn>1023</sn>
    <op>01</op>
    <file>102301.xml</file>
  </api>
  <api>
    <sn>1024</sn>
    <op>01</op>
    <file>102401.xml</file>
  </api>
  <api>
    <sn>1031</sn>
    <op>01</op>
    <file>103101.xml</file>
  </api>
  <api>
    <sn>1031</sn>
    <op>02</op>
    <file>103102.xml</file>
  </api>
  <api>
    <sn>1032</sn>
    <op>01</op>
    <file>103201.xml</file>
  </api>
  <api>
    <sn>1032</sn>
    <op>02</op>
    <file>103202.xml</file>
  </api>
  <api>
    <sn>1033</sn>
    <op>01</op>
    <file>103301.xml</file>
  </api>
  <api>
    <sn>1033</sn>
    <op>02</op>
    <file>103302.xml</file>
  </api>
  <api>
    <sn>1033</sn>
    <op>03</op>
    <file>103303.xml</file>
  </api>
  <api>
    <sn>1034</sn>
    <op>01</op>
    <file>103401.xml</file>
  </api>
  <api>
    <sn>1034</sn>
    <op>02</op>
    <file>103402.xml</file>
  </api>
  <api>
    <sn>1035</sn>
    <op>01</op>
    <file>103501.xml</file>
  </api>
  <api>
    <sn>1036</sn>
    <op>01</op>
    <file>103601.xml</file>
  </api>
  <api>
    <sn>1041</sn>
    <op>01</op>
    <file>104101.xml</file>
  </api>
  <api>
    <sn>1042</sn>
    <op>01</op>
    <file>104201.xml</file>
  </api>
  <api>
    <sn>1042</sn>
    <op>02</op>
    <file>104202.xml</file>
  </api>
  <api>
    <sn>1043</sn>
    <op>01</op>
    <file>104301.xml</file>
  </api>
  <api>
    <sn>1043</sn>
    <op>02</op>
    <file>104302.xml</file>
  </api>
  <api>
    <sn>1043</sn>
    <op>03</op>
    <file>104303.xml</file>
  </api>
  <api>
    <sn>1044</sn>
    <op>01</op>
    <file>104401.xml</file>
  </api>
  <api>
    <sn>1044</sn>
    <op>02</op>
    <file>104402.xml</file>
  </api>
  <api>
    <sn>S00</sn>
    <op>01</op>
    <file>S0001.xml</file>
  </api>
  <api>
    <sn>300</sn>
    <op>01</op>
    <file>30001.xml</file>
  </api>
  <ftp>
    <host>172.16.251.121</host>
    <user>crmftp</user>
    <password>asdf1234</password>
  </ftp>
</config>