<?xml version="1.0" encoding="UTF-8"?>
<config>
	<!-- 计划任务启动参数 -->
	<StartParam>
		<!-- 启动时间 -->
		<StartTime>2009-11-30 12:00:00</StartTime>
		<!-- 轮询周期(单位:分钟) -->
		<PollingCycle>30</PollingCycle>
	</StartParam>
	<!-- 数据库信息 -->
	<Connect>
		<Url>jdbc:oracle:thin:@10.130.1.9:1521:holaweb</Url>
		<Driver>oracle.jdbc.OracleDriver</Driver>
		<UserName>msgtest</UserName>
		<Pwd>msgtest</Pwd>
	</Connect>
</config>