<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	<!-- Oracle templet Dao只需要注入该类，就可以直接用了 -->
	<bean id="oracleTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="oracleDataSource"></property>
	</bean>
	<!-- 定义数据源核心数据库的数据源，使用C3P0数据源实现 -->
	<bean id="oracleDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<!-- 指定连接数据库的驱动 -->
		<property name="driverClass" value="oracle.jdbc.driver.OracleDriver" />
		<!-- 指定连接数据库的URL -->
		<property name="jdbcUrl" value="jdbc:oracle:thin:@172.16.251.235:1521:hhthq" />
		<!-- 指定连接数据库的用户名 -->
		<property name="user" value="mw" />
		<!-- 指定连接数据库的密码 -->
		<property name="password" value="mw" />
		<!-- 指定连接数据库连接池的最大连接数 -->
		<property name="maxPoolSize" value="30" />
		<!-- 指定连接数据库连接池的最小连接数 -->
		<property name="minPoolSize" value="1" />
		<!-- 指定连接数据库连接池的初始化连接数 -->
		<property name="initialPoolSize" value="1" />
		<!--每30秒检查所有连接池中的空闲连接。Default: 0 -->
		<property name="idleConnectionTestPeriod" value="30" />
		<!--最大空闲时间,30秒内未使用则连接被丢弃。若为0则永不丢弃。Default: 0 -->
		<property name="maxIdleTime" value="30" />
		<!--c3p0是异步操作的，缓慢的JDBC操作通过帮助进程完成。扩展这些操作可以有效的提升性能通过多线程实现多个操作同时被执行。Default: 
			3 -->
		<property name="numHelperThreads" value="5" />
		<!--定义在从数据库获取新连接失败后重复尝试的次数。Default: 30 -->
		<property name="acquireRetryAttempts" value="30" />
		<!--当连接池中的连接耗尽的时候c3p0一次同时获取的连接数。Default: 3 -->
		<property name='acquireIncrement' value='10' />
		<property name='autoCommitOnClose' value='true' />
	</bean>
	<!-- mw数据库访问类 -->
	<bean id="mwDao" class="com.hola.jda2hht.dao.BaseDao">
		<property name="jdbcTemplate" ref="oracleTemplate"></property>
	</bean>
	<!-- 系统表的业务 -->
	<bean id="chgSysService" class="com.hola.jda2hht.service.impl.ChgSysServiceImpl">
		<property name="dao" ref="mwDao"></property>
	</bean>
	<!-- 交换资料信息表的业务 -->
	<bean id="chgInfoService" class="com.hola.jda2hht.service.impl.ChgInfoServiceImpl">
		<property name="dao" ref="mwDao"></property>
	</bean>
	<!-- 交换资料表的业务 -->
	<bean id="chgTblService" class="com.hola.jda2hht.service.impl.ChgTblServiceImpl">
		<property name="dao" ref="mwDao"></property>
	</bean>
	<!-- 交换资料明细表的说明表 业务 -->
	<bean id="chgTblDtlService" class="com.hola.jda2hht.service.impl.ChgTblDtlServiceImpl">
		<property name="dao" ref="mwDao"></property>
	</bean>
	<!-- 门店信息表的业务处理 -->
	<bean id="storeInfoService" class="com.hola.jda2hht.service.impl.StoreInfoServiceImpl">
		<property name="dao" ref="mwDao"></property>
	</bean>
	<!-- 分批执行映射表的业务处理 -->
	<bean id="batMappingService" class="com.hola.jda2hht.service.impl.BatMappingServiceImpl">
		<property name="dao" ref="mwDao"></property>
	</bean>
	<!-- CSVIO执行器 -->
	<bean id="csvIoExecutor" class="com.hola.jda2hht.core.io.impl.CSVIOExecutorImpl">
		<property name="batMappingService" ref="batMappingService"></property>
	</bean>
	<!-- CSV管道类型 -->
	<bean id="csvPipe" class="com.hola.jda2hht.core.pipe.impl.CSVPipe">
		<property name="chgTblService" ref="chgTblService"></property>
		<property name="chgTblDtlService" ref="chgTblDtlService"></property>
		<property name="storeInfoService" ref="storeInfoService"></property>
		<property name="executor" ref="csvIoExecutor"></property>
	</bean>
	<!-- 主程序的执行器 -->
	<bean id="jda2hhtExecutor" class="com.hola.jda2hht.core.executor.JDA2HHTExecutor">
		<property name="chgSysService" ref="chgSysService"></property>
		<property name="chgInfoService" ref="chgInfoService"></property>
	</bean>
</beans>